<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Blog 主页</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        
    </head>
    <body>
        {{ include './_layouts/header.html'}}
        
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="/node_modules/bootstrap/js/dropdown.js"></script>
        <script src="/node_modules/bootstrap/js/collapse.js"></script>
    </body>
</html>